.posts {
   /* background-color: blue; */
}

.item {
   /* background-color: blueviolet; */
   display: flex;
   flex-wrap: nowrap;
   height: 100%;
   /* flex-direction: column; */
   /* flex-wrap: nowrap; */
   /* columns: 2/5; */
   /* height: 55px; */
   margin: 20px 0;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.img{
   /* background-color: chartreuse; */
   width: 60px;
   height: 60px;
   display: flex;
   justify-content: center;
}
.msg{
   /* background-color: chocolate; */
   flex-grow: 1;
   padding-top: 10px;
   padding-left: 8px;
   font-size: 18px;
   line-height: 20px;
}
.like{
   width: 80px;
   /* background-color: cornflowerblue; */
   display: flex;
   align-items: flex-end;
   /* align-self: flex-end; */
}

.logo {
   width: 60px;
   height: auto;
   border: 1px solid gray;
   /* border-radius: 50%; */
}