.dialog {
   display: grid;
   grid-template-columns: 1fr 1fr 6fr 1fr;
   /* background-color: cornflowerblue; */
   border: 0.5px solid rgba(10, 7, 7, 0.2);

}
.dialog a {
   text-decoration: none;
   color:darkgray
}
.dialog a.active{
   color: black;
}

.dialog a:hover{
   color: rgb(146, 90, 197)
}
.dialog a:active{
   color: orangered;
}
.image {
   grid-column: 1 / 2;
   padding:5% 10%;
}
.avatar {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   margin-bottom: -2px;
}
.navlink {
   grid-column: 3/4;
   align-self: center;
   padding-bottom: 5px;
   
}
