.item{
   flex-direction: row-reverse;
   padding: 5px;
}
.messages {
   margin-left: 10px;
}
.message__block {
   display: flex;
   align-items: center;
   justify-content: end;
   flex-direction: row-reverse;
   margin-right: 5px;
}
.avatar {
   border-radius: 50%;
   width: 50px;
}
.message {
display: flex;
align-items: center;
margin-right: 10px;
flex-direction: row-reverse;
}
.content {
   border-radius: 5px;
   padding: 7px;
   display: inline-block;
   margin-left: 0;
   margin-right: 5px;
}



