.header {
   /* grid-row: 1;
   grid-column: 2 / 6;
   grid-area: header; */
   background-color: var(--black);
   display: grid;
   align-items: center;
   padding: 5px 25px;
   grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
   box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

.loginBlock {
   grid-column: 4;
}
.loginBlock a {
   color: white;
   text-decoration: none;
   margin: 0 auto;
}

.ava .logo {
   margin: 0 auto;
   width: 40px;
   height: 40px;
   border:2px solid black;
   border-radius: 50%;
}
.logout {
   display: flex;
   color:rgba(243, 224, 243, 0.3);
   cursor: pointer;
   font-size: 14px;
   justify-content: center;
   background-color: transparent;
   border: none;
   width: 60px;
   margin: 0 auto;
   padding: 0;
}

.logout:disabled {
   opacity: 0.4;
}
.logout:hover {
   background-color: var(--gray-800);
}
.auth {
   display:flex;
   flex-direction: column;
}