.header {
   grid-row: 1;
   grid-column: 2 / 6;
   grid-area: header;
   background-color: #3f4257;
   display: grid;
   align-items: center;
   padding: 15px 25px;
   grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
   box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

.header img {
   height: 70px;
   width: 70px;
   border-radius: 50%;
}

.loginBlock {
   grid-column: 4;
}
.loginBlock a {
   color: white;
   text-decoration: none;
}

.ava .logo {
   margin: 0 auto;
   width: 60px;
   height: 55px;
   border:2px solid black;
   border-radius: 20%;
}
.logout {
   display: flex;
   color:rgba(243, 224, 243, 0.3);
   cursor: pointer;
   font-size: 14px;
   justify-content: center;
   /* margin: 5px;
   padding: 20px;
   text-transform:uppercase;
   background-color: #3eaa44;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 700;
   border-radius: 4px;
   cursor: pointer; */
}

.logout:disabled {
   opacity: 0.4;
}
.logout:hover {
   color: #800080;
   /* background-color: #3bba44; */
}
