.nav {
   grid-area: nav;
   background-color: #f6f7f9;
   max-width: 400px;
}

.friends {
   margin: 25% 0px;
   /* grid-row: 3/4; */
   display: grid;
   justify-content: center;
   background-color: blueviolet;

}
.title {
   font-size: 25px;
   font-weight: 500;
   line-height: 27px;
}
.friendsOnline {

}
.friend {

}