.jumbotron {
   height: 200px;
   background-image: url(https://www.freegreatpicture.com/files/199/1774-three-wide-screen-vlad.jpg);
   background-position: center center;
   background-size: cover;
   grid-template-columns: max-content;
}
.errorStatus {
   color:red;
}
/* .content__info {
   display: flex;
   grid-template-columns: repeat(6,1fr);
   grid-gap: 20px;
   padding: 15px;
   flex-flow: row wrap;
   box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
   background-color: blueviolet;
} */


/* .description {
   margin: 0px auto;
   line-height: 20px;
   width: 60%;
   grid-column: 2 / 4;
   color: gray;
} */
