label {
   font-weight: bold;
   display: flex;
   margin-bottom: 5px;
}

input[type='email'],
input[type='password'] {
   display: block;
   width: 400px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.32857143;
   color: #555;
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 4px;
   /* margin-bottom: 20px; */
}

.formControl {
   margin-bottom: 20px;
}

.error {
   color: red;
}
