body {
   background-color: #edf2f6;
   font-family: "Roboto", sans-serif;
   font-weight: normal;
   font-style: normal;
}

.app-wrapper {
   display: grid;
   grid-template-areas: "header header header" "nav main main";
   grid-template-columns: 10% 1fr 5px;
   column-gap: 20px;
   row-gap: 16px;
   /* max-width: 1200px; */
   margin: 0 auto;
}
.app-wrapper-content {
   max-width: 90%;
   margin: 0 auto;
   background-color: #fff;
   min-height: 80vh;
   width: 100%;
   border-radius: 10px;
   padding: 20px;
   display: flex;
   padding-left: 1;
}